---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?location=denver,co&term=italian
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 1FYSJipl7LMr39P2wt6kUU2NV0WTLjSIOKOWiK740NcsUK6fZgZ0ouPVqumCZCKBuZ7xWyy0mEngrfphFbQgBMETdJlXAMwypcePo9-VA8GVCpBd1eT9QSiXcXiHZHYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Remaining:
      - '4969.0'
      X-Routing-Service:
      - routing-main--useast1-7d948dbbb8-jdk9b; site=public_api_v3
      Ratelimit-Resettime:
      - '2023-09-27T00:00:00+00:00'
      X-Zipkin-Id:
      - 675faf8cd5c54215
      Ratelimit-Dailylimit:
      - '5000.0'
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-76-231-useast1aprod
      X-Extlb:
      - 10-65-76-231-useast1aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "i8VF3q7dTszCcigJSMcJzQ", "alias": "angelo-s-taverna-denver",
        "name": "Angelo\u2019s Taverna", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/xsp2nVkNCx7ZfvSZ4MDgXg/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/angelo-s-taverna-denver?adjust_creative=ETugO8RebFjUsSDbO-lOMg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=ETugO8RebFjUsSDbO-lOMg",
        "review_count": 1630, "categories": [{"alias": "italian", "title": "Italian"},
        {"alias": "seafood", "title": "Seafood"}, {"alias": "bars", "title": "Bars"}],
        "rating": 4.5, "coordinates": {"latitude": 39.725523, "longitude": -104.979224},
        "transactions": ["pickup", "restaurant_reservation", "delivery"], "price":
        "$$", "location": {"address1": "620 E 6th Ave", "address2": "", "address3":
        "", "city": "Denver", "zip_code": "80203", "country": "US", "state": "CO",
        "display_address": ["620 E 6th Ave", "Denver, CO 80203"]}, "phone": "+13037443366",
        "display_phone": "(303) 744-3366", "distance": 1351.3929919123793}, {"id":
        "jVOAZe9L3Kwx9Ze-UhT3_w", "alias": "odyssey-italian-restaurant-denver", "name":
        "Odyssey Italian Restaurant", "image_url": "https://s3-media1.fl.yelpcdn.com/bphoto/X5Mh_wJK5CVcEvLeF8UsRQ/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/odyssey-italian-restaurant-denver?adjust_creative=ETugO8RebFjUsSDbO-lOMg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=ETugO8RebFjUsSDbO-lOMg",
        "review_count": 1293, "[...]
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?limit=1&location=denver,co&term=italian
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer PWnCUHTUPdSiggsf9AGEOTYE]KWgav46c7tEUVNROigQE8VDECIQPsMk5cmbdYGrTUr8]N81LQ78W79akhHe20VT30sd]F7VtvnglfRULrKnf2EcTwdG7pOP-OSZXYx
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-main--useast1-7d948dbbb8-6xdv6; site=public_api_v3
      X-Zipkin-Id:
      - b6c27e431a28f2bd
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-114-242-useast1aprod
      X-Extlb:
      - 10-65-114-242-useast1aprod
    body:
      encoding: UTF-8
      string: '{"error": {"code": "VALIDATION_ERROR", "description": "''Bearer PWnCUHTUPdSiggsf9AGEOTYE]KWgav46c7tEUVNROigQE8VDECIQPsMk5cmbdYGrTUr8]N81LQ78W79akhHe20VT30sd]F7VtvnglfRULrKnf2EcTwdG7pOP-OSZXYx''
        does not match ''^(?i)Bearer [A-Za-z0-9\\\\-\\\\_]{128}$''", "field": "Authorization",
        "instance": "Bearer PWnCUHTUPdSiggsf9AGEOTYE]KWgav46c7tEUVNROigQE8VDECIQPsMk5cmbdYGrTUr8]N81LQ78W79akhHe20VT30sd]F7VtvnglfRULrKnf2EcTwdG7pOP-OSZXYx"}}'
  recorded_at: Tue, 26 Sep 2023 17:40:01 GMT
[...]
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?location=denver,co&term=italian
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer PWnCUHTUPdSiggsf9AGEOTYE]KWgav46c7tEUVNROigQE8VDECIQPsMk5cmbdYGrTUr8]N81LQ78W79akhHe20VT30sd]F7VtvnglfRULrKnf2EcTwdG7pOP-OSZXYx
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-main--useast1-7d948dbbb8-gjfff; site=public_api_v3
      X-Zipkin-Id:
      - a9a062340a6b2da8
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-65-70-useast1aprod
      X-Extlb:
      - 10-65-65-70-useast1aprod
    body:
      encoding: UTF-8
      string: '{"error": {"code": "VALIDATION_ERROR", "description": "''Bearer PWnCUHTUPdSiggsf9AGEOTYE]KWgav46c7tEUVNROigQE8VDECIQPsMk5cmbdYGrTUr8]N81LQ78W79akhHe20VT30sd]F7VtvnglfRULrKnf2EcTwdG7pOP-OSZXYx''
        does not match ''^(?i)Bearer [A-Za-z0-9\\\\-\\\\_]{128}$''", "field": "Authorization",
        "instance": "Bearer PWnCUHTUPdSiggsf9AGEOTYE]KWgav46c7tEUVNROigQE8VDECIQPsMk5cmbdYGrTUr8]N81LQ78W79akhHe20VT30sd]F7VtvnglfRULrKnf2EcTwdG7pOP-OSZXYx"}}'
  recorded_at: Tue, 26 Sep 2023 17:43:01 GMT
recorded_with: VCR 6.2.0
